[Unit]
Description=Remote Autoupdater for Alarm System
After=network-online.target firewalld.service
Wants=network-online.target
Before=docker.service
[Service]
ExecStart=sh /usr/local/src/alarm/onetouch.sh
StandardOutput=journal
[Install]
Alias=autoupdater
WantedBy=docker.service