[Unit]
Description=Remote Autoupdater for Alarm System
After=network-online.target firewalld.service docker.service
Wants=network-online.target
Requires=docker.service
[Service]
ExecStart=/usr/local/src/alarm/onetouch.sh
StandardOutput=journal
[Install]
Alias=nx584autoupdater